body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4e5564;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #0044cc;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0033aa;
    height: 40px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
}
