* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

header {
    padding: 50px 0;
    background-color: #333;
    color: white;
}

.logo img {
    max-width: 120px;
}

.main-title {
    font-size: 3em;
    margin: 20px 0;
}

.subtitle {
    font-size: 1.2em;
    color: #ddd;
    margin-bottom: 40px;
}

.image-links {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}

.image-container {
    text-align: center;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: translateY(-10px);
}

.clickable-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

h2 {
    margin: 15px 0;
    font-size: 1.2em;
    color: #555;
}

.image-container:hover h2 {
    color: #333;
}

footer {
    margin-top: 40px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
}

footer .footer-links {
    margin-bottom: 10px;
}

footer .footer-links a {
    color: #ddd;
    font-size: 1em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .footer-links a:hover {
    color: #fff;
}

footer p {
    font-size: 0.9em;
}
